html, body {
    height: 100%;
}

body {
	background-color:	#f0f0f0;
    font-family:        Helvetica, Arial, sans-serif;
    font-size:          20px;
}

a {
	text-decoration: none;
}

#logo {
	height: 150px;
	max-height:    30vh;
}

#welcome {
	text-align: center;
}

h1 {
    font-weight:    100;
}

#main {
	text-align:     justify;
    font-weight:    100;
	padding:        5px;
    max-width:      1000px;
    margin-left:    auto;
    margin-right:   auto;
}

#actions, #stories {
	margin-top: 40px;
}

.option, .story {
    text-align:        center;
    cursor:            pointer;
    padding:           10px;
    margin:            10px;
}

.story {
    color: #eee;
}

h2 {
	font-weight:   100;
}

.story p {
	display: none;
}

.first {
	background-color: darkred;
}

.second {
	background-color: darkblue;
}

.third {
	background-color: darkgreen;
}

.option {
    background-color:  #999;
    color:             #eee;
}

@media all and (min-width: 800px) {
	
	#main {
	    padding:        20px;
    }

	.option {
	    width:             410px;
	    font-size:         40px;
	    padding:           20px;
	    margin:            20px;
	    border-radius:     5px;
	    float:             left;
	}
	
	.story {
	    width:             260px;
	    padding:           20px;
	    margin-left:       20px;
	    border-radius:     5px;
	    text-align:        center;
	    float:             left;
	    cursor:            pointer;
	}
	
	.story p {
        display: initial;
	}
}