html, body {
    height: 100%;
    text-align: center;
}

body {
	background-color:	#f0f0f0;
    font-family:        Helvetica, Arial, sans-serif;
    font-size:          20px;
}

a {
	text-decoration: none;
}

#logo {
	height: 150px;
	max-height:    30vh;
}

h1 {
    font-weight:    100;
}

#main {
    font-weight:    100;
	padding:        5px;
    max-width:      1000px;
    margin-left:    auto;
    margin-right:   auto;
}

#actions, #stories {
	margin-top: 20px;
}

#explanation {
	clear: both;
	padding-top: 10px;
	display: none;
}

.option, .story {
    cursor:            pointer;
    padding:           10px;
    margin:            8px;
}

.story {
    color: #eee;
    height: 150px;
    width: 260px;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
}

h2 {
	font-weight:   100;
}

.story h2 {
	margin: 20px 0px;
}

.story p {
	display: none;
}

.first {
	background-image: url("mangrey.png");
}

.second {
    background-image: url("WOLFGREY.png");
}

.third {
    background-image: url("grey1.png");
}

.option {
    background-color:  #999;
    color:             #eee;
}

@media all and (min-width: 800px) {
	
	#main {
	    padding:        20px;
    }

	.option {
	    width:             410px;
	    font-size:         40px;
	    padding:           20px;
	    margin:            20px;
	    border-radius:     5px;
	    float:             left;
	}
	
	.story {
	    width:             260px;
	    font-size:         20px;
	    padding:           20px;
	    margin-left:       20px;
	    border-radius:     5px;
	    float:             left;
	    cursor:            pointer;
	}
	
	.story p {
        display: initial;
	}
}