@CHARSET "UTF-8";

::selection {
	background:  #bbb;
}

::-moz-selection {
  background:  #bbb;
}

a {
	color:	#666;
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}

a.themeLight {
	color: #666;
}

a.themeDark {
	color: #949191;
}

a.themeSepia {
	color: #6e5c41;
}

a.themeLovely {
	color: #c20045;
}

a.fontColourBlack {
  color: #555;
}

a.fontColourBlue {
  color: #55d;
}

a.fontColourCharcoal {
	color: #888;
}

a.fontColourDefault { }

a.fontColourGrey {
  color: #bbb;
}

a.fontColourGreen {
  color: #5d5;
}

a.fontColourRed {
  color: #d55;
}

.alignmentCenter {
  text-align:  center;
}

.alignmentJustify {
  text-align:  justify;
}

.alignmentLeft {
	text-align:  left;
}

.alignmentRight {
  text-align:  right;
}

#author_avatar {
	max-width:     50vw;
	max-height:    50vw;
    width:          200px;
    height:         200px;
    border:         3px solid #333;
    background-color:   #333;
    border-radius:  100px;
}

.themeDark #author_avatar {
	border-color:     #949191;
    background-color: #949191;
}

#author_body {
	padding-top:   1em;
	min-width: 300px;
	width:     100%;
	max-width: 554px;
	float: right;
}

#author_side_bar {
	float:         left;
	padding-right: 40px;
	padding-top:   20px;
}

#avatar {
	margin:            1em;
	height:            3em;
	width:             3em;
	float:             right;
    border:             2px solid #333;
    background-color:   #333;
    border-radius:      2em;
}

.avatar_input_hidden {
	position: absolute;
    left: -9999px;
}

.avatar_radio_button {
	height:    3em;
	width:     3em;
}

input[type=radio]:checked + label>img {
	background-color: #333;
    border:           4px solid #333;
	border-radius:    2em;
}

input[type=radio] + label>img {
    background-color:  #bbb;
	border:            4px solid #bbb;
    border-radius:     2em;
}

#avatar_selection {
	text-align:    left;
}

#avatar_selection label {
    display: inline-block;
    cursor: pointer;
}

#avatar_selection label img {
    padding: 0px;
}

body {
	line-height:		1.5em;
	text-align:			justify;
	margin:				0em;
	font-family:		Helvetica, Arial, sans-serif;
	font-weight:		100;
	color:				#111;
	background-color:	#fefefe;
    
    word-wrap:          break-word;
    -webkit-hyphens:    auto;
    -moz-hyphens:       auto;
    -ms-hyphens:        auto;
    hyphens:            auto;
}

body.themeDark {
	color:            #c2bebe;
	background-color: #000000;
}

body.themeSepia {
	color:             #120f09;
	background-color:  #fcfcf0;
}

body.themeLovely {
	color:             #910034;
	background-color:  #fff1f6;
}

button, .option {
	font-weight:       100;
    font-family:       inherit;
	font-size:         1em;
	line-height:       1.5em;
    outline:           none;
    margin-bottom:     0.5em;
    padding:           0.5em 1em;
    background-color:  #999;
    color:             #eee;
    border:            1px solid transparent;
    border-radius:     0.5em;
    text-align:        center;
    float:             left;
    cursor:            pointer;
    width:             100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

.clear {
	clear: both;
}

#credit {
	padding-top:   1em;
	float:         right;
}

.do_not_clear {
	clear: none;
}

.fontColourBlack {
	color: #000;
}

.fontColourBlue {
	color: #009;
}

.fontColourCharcoal {
	color: #333;
}

.fontColourDefault { }

.fontColourGrey {
	color: #999;
}

.fontColourGreen {
  color: #090;
}

.fontColourRed {
  color: #900;
}

.fontTypeCursive {
  font-family: "Brush Script MT", "MV Boli", cursive;
}

.fontTypeFantasy {
  font-family: "Papyrus", fantasy;
}

.fontTypeMonospace {
  font-family: "Lucida Console", Monaco, monospace;
}

.fontTypeSansSerif {
  font-family: Helvetica, Arial, sans-serif;
}

.fontTypeSerif {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.footer {
	margin:	0em 0.5em;
}

#footerBar {
	position:			    relative;
	margin-top:			  -2.6em;
	height:				    1.5em;
	clear:				    both;
	padding:			    0.5em;
	background-color:	#f0f0f0;
	border:				    1px #e0e0e0;
	border-style:		  solid none none none;
}

#footerMenu {
	max-width:			800px;
	text-align:			center;
	margin-left:		auto;
	margin-right:		auto;
}

#formatBar {
	min-height:			   50px;
	background-color:	 #999;
	color:				     #DDD;
	border:				     1px #888;
	border-style:		   solid none;
	display:			     none;
}

#formatBar.themeLight {
	background-color:  #999;
	border-color:      #888;
}

#formatBar.themeDark {
  background-color: #494949;
  border-color:     #5c5c5c;
}

#formatBar.themeSepia {
  background-color:  #806e4f;
  border-color:      #6e5c41;
}

#formatBar.themeLovely {
  background-color:  #f7669a;
  border-color:      #f64d89;
}

.formatPickerBar {
	max-width:			800px;
	margin-left:		auto;
	margin-right:		auto;
	display:			none;
	height:				30px;
	clear:				both;
}

.formatIcon {
	float:			   left;
	margin:            5px 10px;
	padding:           10px;
	height:			   20px;
	border:            1px solid #fff;
	border-radius:     10px;
	background-color:  #eee;
}

.themeDark .formatIcon,
.themeDark .option,
.themeDark button {
	background-color: #949191;
	border-color:     #747674;
	color:            #000000;
}

.formatIconPressed {
	float:			  left;
	margin:           5px 10px;
	padding:          10px;
	height:			  20px;
    border:           1px solid #fff;
    border-radius:    10px;
    background-color: #eee;
}

#formatMenu {
	max-width:		800px;
	margin-left:	auto;
	margin-right:	auto;
	display:		none;
	height:			50px;
}
	
h2, h3 {
	font-weight:	300;
	clear:			both;
}

h4 {
	display:       inline;
	padding-right: 1em;
}

#header {
	max-width:			800px;
	margin-left:		auto;
	margin-right:		auto;
}

#headerBar {
	padding:			0.5em;
	background-color:	#f0f0f0;
	border:				1px #e0e0e0;
	border-style:		solid none;
	min-height:			70px;
}

#headerBar.themeLight, #footerBar.themeLight {
	background-color:  #f0f0f0;
	border-color:      #e0e0e0;
}

#headerBar.themeDark, #footerBar.themeDark {
	background-color:  #131313;
	border-color:      #181818;
}

#headerBar.themeSepia, #footerBar.themeSepia {
	background-color:  #f2edd8;
	border-color:      #e2ddc8;
}

#headerBar.themeLovely, #footerBar.themeLovely {
	background-color:  #ffd6e4;
	border-color:      #ffc8d8;
}

.themeDark hr {
	background-color: #5c5c5c;
}

hr {
	background-color:  #ddd;
	height:            2px;
	border:            none;
}

hr.minor_separator {
	height:            1px;
}

html, body {
	height:	100%;
}

img.themeSepia {
	-webkit-filter: sepia(50%);
}

input, textarea {
	width:				100%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
	
    font-weight:       100;
    font-family:       inherit;
    font-size:         1em;
    line-height:       1.5em;
    outline:           none;
    margin-bottom:     0.5em;
    padding:           0.5em 1em;
    background-color:  #eee;
    color:             #333;
    border:            1px solid #ddd;
    border-radius:     0.5em;
}

.themeDark input, textarea {
	background-color: #494949;
    border-color:     #5c5c5c;
    color:            #c2bebe;
}

.item {
	min-height:	1.5em;
}

.itemContent {
	float: 		left;
	max-width:	89%;
}

.itemNumber {
	float: 			right;
	text-align:		right;
	min-width:		5%;
	padding-left:	5%;
}

#logoImage {
	height:	70px;
}

#main {
	clear:			both;
	padding:		0.5em 0.5em 4em 0.5em;
	overflow:		auto;
	max-width:		800px;
	margin-left:	auto;
	margin-right:	auto;
}

#newStory {
	clear:			both;
	padding-top:	1em;
}

#nonFooter {
	min-height:		100%;
}

.optionLink {
    color:             #eee;
}

.prefInput {
  max-width: 70%;
}

.prefLabel {
  min-width: 30%;
  float:left;
}

.radio_list input {
	width: inherit;
}

ul.radio_list {
	padding:   0px;
	margin-bottom: 1em;
}

#rewriteLink {
    float:          right;
    padding-top:    1em;
}

select {
	font-size:		1em;
	margin-left:	1em;
	height:			30px;
}

.sizeHuge {
	font-size:		2em;
	line-height:	1.5em;
}

.sizeLarge {
	font-size:		1.5em;
	line-height:	1.5em;
}

.sizeMedium {
	font-size:		1em;
	line-height:	1.5em;
}

.sizeSmall {
	font-size:		0.8em;
	line-height:	1.5em;
}

.spacingHuge {
	line-height: 3em;
}

.spacingLarge {
  line-height: 2em;
}

.spacingMedium {
  line-height: 1.5em;
}

.spacingSmall {
  line-height: 1em;
}

#storyTitle {
	float: left;
}

#text, .text {
	clear:	both;
}

#text_body {
	padding-bottom: 1em;
}

textarea {
	height:	10em;
	resize: vertical;
}

@media all and (min-width: 600px) {
	
	#login,#logout {
		text-align:		right;
		padding-top:	1.5em;
	}
	
	#logo {
		float:			left;
		padding-right:	1em;
	}
	
	.footer {
	   margin:     0em 1em 0em 0em;
	}
	
	#footerMenu {
        text-align: left;
	}
	
	.formatIcon {
		padding-left:	10px;
		padding-right:	10px;
		margin-right:	20px;
	}
	
	.formatIconPressed {
		padding-left:	10px;
		padding-right:	10px;
		margin-right:	20px;
	}
	
	button, .option {
	   width:  49%;
	   margin-right:   1%;
	}
}

@media all and (min-width: 800px) {
	
	select {
		margin-left:	0%;
	}

	.radio_list li {
	    display:   inline;
	    padding-right: 1em;
	}
}

@media all and (min-width: 1000px) {
	
	#logo {
		margin-left:	-95px;
	}
}
	