@CHARSET "UTF-8";

a {
	color:	#666;
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}

body {
	max-width:		800px;
	line-height:	1.5em;
	text-align:		justify;
	margin:			0em;
	font-family:	sans-serif;
	font-weight:	100;
}

#credit {
	padding-top:	1em;
}

#editLink {
	float:			right;
	padding-top:	1em;
}

.footer {
	margin-right:	1em;
}

html, body {
	height:	100%;
}

#nonFooter {
	min-height:	100%;
}

#main {
	overflow:	auto;
}

#footerMenu {
	position:			relative;
	margin-top:			-2.6em;
	height:				1.5em;
	clear:				both;
	padding:			0.5em;
	background-color:	#f0f0f0;
	border:				1px #e0e0e0;
	border-style:		solid none;
	text-align:			left;
}
	
h2, h3 {
	font-weight:	300;
	clear:			both;
}

#header {
	padding:			0.5em;
	background-color:	#f0f0f0;
	border:				1px #e0e0e0;
	border-style:		solid none;
	min-height:			70px;
}

input, textarea {
	width:				100%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

.item {
	clear: 		both;
	min-height:	1.5em;
}

.itemContent {
	float: left;
	max-width:	89%;
}

.itemNumber {
	float: 			right;
	text-align:		right;
	min-width:		5%;
	padding-left:	5%;
}

#logoImage {
	height:	70px;
	width:	282.5px;
}

#main {
	clear:		both;
	padding:	0.5em 0.5em 2.5em 0.5em;
}

#newStory {
	clear:			both;
	padding-top:	1em;
}

.option {
	padding-top:	1em;
}

#storyTitle {
	float: left;
}

#text {
	clear:	both;
}

textarea {
	height:	10em;
}

@media all and (min-width: 600px) {
	
	#login,#logout {
		text-align:		right;
		padding-top:	1.5em;
	}
	
	#logo {
		float:			left;
		padding-right:	1em;
	}
}

@media all and (min-width: 800px) {
	
	#header, #footerMenu {
		border-style:		solid;
	}
}