@CHARSET "UTF-8";

a {
	color:	#666;
	text-decoration:	none;
}

a:hover {
	text-decoration:	underline;
}

body {
	line-height:		1.5em;
	text-align:			justify;
	margin:				0em;
	font-family:		sans-serif;
	font-weight:		100;
	color:				#111;
	background-color:	#fefefe;
}

#credit {
	padding-top:	1em;
}

#editLink {
	float:			right;
	padding-top:	1em;
}

.footer {
	margin-right:	1em;
}

#footerBar {
	position:			relative;
	margin-top:			-2.6em;
	height:				1.5em;
	clear:				both;
	padding:			0.5em;
	background-color:	#f0f0f0;
	border:				1px #e0e0e0;
	border-style:		solid none none none;
}

#footerMenu {
	max-width:			800px;
	text-align:			left;
	margin-left:		auto;
	margin-right:		auto;
}

#formatBar {
	min-height:			50px;
	background-color:	#999;
	color:				#DDD;
	border:				1px #888;
	border-style:		solid none;
	display:			none;
}

.formatPickerBar {
	max-width:			800px;
	margin-left:		auto;
	margin-right:		auto;
	display:			none;
	height:				30px;
	clear:				both;
}

.formatIcon {
	-webkit-filter:	invert(100%);
	opacity:		0.6;
	float:			left;
	padding-top:	15px;
	padding-bottom:	15px;
	padding-left:	10px;
	padding-right:	10px;
	height:			20px;
}

.formatIconPressed {
	-webkit-filter:	invert(100%);
	float:			left;
	padding-top:	15px;
	padding-bottom:	15px;
	padding-left:	10px;
	padding-right:	10px;
	height:			20px;
}

#formatMenu {
	max-width:		800px;
	margin-left:	auto;
	margin-right:	auto;
	display:		none;
	height:			30px;
}
	
h2, h3 {
	font-weight:	300;
	clear:			both;
}

#header {
	max-width:			800px;
	margin-left:		auto;
	margin-right:		auto;
}

#headerBar {
	padding:			0.5em;
	background-color:	#f0f0f0;
	border:				1px #e0e0e0;
	border-style:		solid none;
	min-height:			70px;
}

html, body {
	height:	100%;
}

input, textarea {
	width:				100%;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}

input[type="color"], input[type="range"] {
	width:			90%;
	margin-left:	5%;
	margin-right:	5%;
	height:			30px;
}

.item {
	clear: 		both;
	min-height:	1.5em;
}

.itemContent {
	float: left;
	max-width:	89%;
}

.itemNumber {
	float: 			right;
	text-align:		right;
	min-width:		5%;
	padding-left:	5%;
}

#logoImage {
	height:	70px;
}

#main {
	clear:			both;
	padding:		0.5em 0.5em 4em 0.5em;
	overflow:		auto;
	max-width:		800px;
	margin-left:	auto;
	margin-right:	auto;
}

#newStory {
	clear:			both;
	padding-top:	1em;
}

#nonFooter {
	min-height:		100%;
}

.option {
	padding-top:	1em;
}

select {
	font-size:		1em;
	margin-left:	1em;
	height:			30px;
}

#storyTitle {
	float: left;
}

#text {
	clear:	both;
}

textarea {
	height:	10em;
}

@media all and (min-width: 600px) {
	
	#login,#logout {
		text-align:		right;
		padding-top:	1.5em;
	}
	
	#logo {
		float:			left;
		padding-right:	1em;
	}
	
	.formatIcon {
		padding-left:	10px;
		padding-right:	10px;
		margin-right:	20px;
	}
	
	.formatIconPressed {
		padding-left:	10px;
		padding-right:	10px;
		margin-right:	20px;
	}
}

@media all and (min-width: 800px) {
	
	input[type="range"], input[type="color"] {
		width:			100%;
		margin-left:	0%;
		margin-right:	0%;
	}
	
	select {
		margin-left:	0%;
	}
}

@media all and (min-width: 1000px) {
	
	#logo {
		margin-left:	-95px;
	}
}
