@CHARSET "UTF-8";

body {
	font-family: Georgia;
	font-size: 18px;
	
	width: 100%;
	
	margin: 0px;
}

main {
	max-width: 800px;
	
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

textarea {
	font-family: Georgia;
	font-size: 18px;
	
	color: #fff;
	background-color: #369;
	
	border: 5px solid #339;
	border-radius: 5px;
	
	height: 400px;
	max-width: 800px;
	width: 100%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	margin-bottom: 10px;
	padding: 10px;
}

aside {
	color: #fff;
	background-color: #633;
	
	border: 5px solid #600;
	border-radius: 5px;
	
	height: 70px;
	max-width: 770px;
	
	padding: 10px;
	margin-bottom: 10px;
}

aside > div {
	float: left;
	padding-right: 50px;
}

aside > h1 {
	font-size: 18px;
	text-align: center;
}

@media all and (min-width: 1420px) {
	main {
	    max-width: 1400px;
	}
	
	main > div {
	    height: 400px;
	    
	    padding-left: 300px;
	}
	
	textarea {
	    float: left;
	    
        width: 800px;
	}
	
	aside {
	    float: left;
	    
	    height: 170px;
	    width: 260px;
	    
	    margin-left: 10px;
	}
	
	aside > div {
	   clear: both;
	}
}