<?xml version="1.0" encoding="utf-8"?>
<!-- © 2013-2015 Deuterium Labs Limited -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>SubmitRewrite</servlet-name>
		<servlet-class>com.deuteriumlabs.dendrite.controller.SubmitRewriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitRewrite</servlet-name>
		<url-pattern>/submitRewrite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitNew</servlet-name>
		<servlet-class>com.deuteriumlabs.dendrite.controller.SubmitNewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitNew</servlet-name>
		<url-pattern>/submitNewStory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitWrite</servlet-name>
		<servlet-class>com.deuteriumlabs.dendrite.controller.SubmitWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitWrite</servlet-name>
		<url-pattern>/submitWrite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePreferences</servlet-name>
		<servlet-class>com.deuteriumlabs.dendrite.controller.UpdatePreferencesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePreferences</servlet-name>
		<url-pattern>/updatePreferences</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetPreferences</servlet-name>
		<servlet-class>com.deuteriumlabs.dendrite.controller.ResetPreferencesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetPreferences</servlet-name>
		<url-pattern>/resetPreferences</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>About</servlet-name>
		<jsp-file>/about.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>About</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Author</servlet-name>
		<jsp-file>/author.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Author</servlet-name>
		<url-pattern>/author</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <jsp-file>/contact.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Contents</servlet-name>
        <jsp-file>/contents.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contents</servlet-name>
        <url-pattern>/contents</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>Cover</servlet-name>
		<jsp-file>/cover.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cover</servlet-name>
		<url-pattern>/cover</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>New</servlet-name>
		<jsp-file>/new.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>New</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Preferences</servlet-name>
		<jsp-file>/preferences.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Preferences</servlet-name>
		<url-pattern>/preferences</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Privacy</servlet-name>
		<jsp-file>/privacy.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Privacy</servlet-name>
		<url-pattern>/privacy</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Read</servlet-name>
		<jsp-file>/read.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Read</servlet-name>
		<url-pattern>/read</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rewrite</servlet-name>
		<jsp-file>/rewrite.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rewrite</servlet-name>
		<url-pattern>/rewrite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Terms</servlet-name>
		<jsp-file>/terms.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Terms</servlet-name>
		<url-pattern>/terms</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Write</servlet-name>
		<jsp-file>/write.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Write</servlet-name>
		<url-pattern>/write</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>Notifications</servlet-name>
        <jsp-file>/notifications.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Notifications</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Alt</servlet-name>
        <jsp-file>/alt.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alt</servlet-name>
        <url-pattern>/alt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Stats</servlet-name>
        <jsp-file>/stats.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>Love</servlet-name>
		<servlet-class>com.deuteriumlabs.dendrite.controller.LoveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Love</servlet-name>
		<url-pattern>/love</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>DeleteNotification</servlet-name>
        <servlet-class>com.deuteriumlabs.dendrite.controller.DeleteNotificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteNotification</servlet-name>
        <url-pattern>/deleteNotification</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Follow</servlet-name>
        <servlet-class>com.deuteriumlabs.dendrite.controller.FollowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Follow</servlet-name>
        <url-pattern>/follow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Unfollow</servlet-name>
        <servlet-class>com.deuteriumlabs.dendrite.controller.UnfollowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Unfollow</servlet-name>
        <url-pattern>/unfollow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTag</servlet-name>
        <servlet-class>com.deuteriumlabs.dendrite.controller.AddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTag</servlet-name>
        <url-pattern>/addTag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveTag</servlet-name>
        <servlet-class>com.deuteriumlabs.dendrite.controller.RemoveTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveTag</servlet-name>
        <url-pattern>/removeTag</url-pattern>
    </servlet-mapping>
    
	<welcome-file-list>
		<welcome-file>cover.jsp</welcome-file>
	</welcome-file-list>
	
    <error-page>
        <error-code>500</error-code>
        <location>/static/error.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/static/404.html</location>
    </error-page>
</web-app>
